@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.title{
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

table td, th {
  text-align: center;
}

.table {
  margin: auto;
  width: 60% !important;
}